################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dotnet.Reflection
/src/Dotnet.Reflection.Example/bin/Debug/netcoreapp3.1
/src/Dotnet.Reflection.Example/obj
